<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>{{title}}</h4>
    <p>{{message}}</p>
    <input type="text" [(ngModel)]="license" *ngIf="showLicense">
  </div>
  <div class="modal-footer">
    <button *ngIf="buttons[0]" class="modal-close waves-effect waves-green btn-flat" (click)="setAction(true, buttons[0])" [disabled]="showLicense && license === ''">{{buttons[0]}}</button>
    <a *ngIf="confirm" class="modal-close red waves-effect waves-red btn-flat" (click)="setAction(false, buttons[1])">{{buttons[1]}}</a>
  </div>
</div>
